In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
europa = pd.read_csv("..\Data\env_wasgen_page_tabular (1).tsv", sep="\t")

In [3]:
europa= europa.rename(columns={"freq,unit,hazard,nace_r2,waste,geo\TIME_PERIOD":"Prefix"})

In [4]:
europa

,Prefix,2004,2006,2008,2010,2012,2014,2016,2018,2020
0,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,AT",53020950,54286603,56308766,46799579,48045089,55868298,61225037,65666128,68906034
1,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,BA",:,:,:,:,4456556,5540772,6127022,6747605,6753458
2,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,BE",52809345,59351721 e,48621916,61345803,53839470,57965392,63152384,68187479,68061590
3,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,BG",201020467,162881368,167646316,167396268,161252166,179677011,120508475,129751823,116387350
4,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,CY",2241520,1248723,1842781,2372750,1875308,1978699,2467042,2302144,2221809
5,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,CZ",29275743,24745752,25419695,23757566,23171358,23394956,25381426,37847614 b,38486186
6,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,DE",364021937,363786069,372796355,363544995,368022172,387504241,400071672,405523624,401156266
7,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,DK",12588952,14703138,15155208,16217736,16713822,20808843,20981931,21445206,20135564
8,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,EE",20860680,18932903,19583855,19000195,21992343,21804040,24277879,23185581,16170358
9,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,EL",33346962,51324662,68643963,70432705,72328280,69758868,72332353,45240333,28358897 p
10,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,ES",160668134,160946629,149254157,137518902,118561669,110518494,128958523,137822935,105624359
11,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,EU27_2020",2248790000,2276120000,2144780000,2212900000,2242540000,2243790000,2258910000,2338230000,2153950000
12,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,EU28",2547590000,2567270000,2427000000,2454710000,2483800000,2506780000,2530980000,2620400000,:
13,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,FI",69708476,72205476,81792854,104336944,91824193,95969888,122869183,128251735,116082531
14,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,FR",296580889 s,312297824 s,345002210,355081245,344440922,324462969,322685297,343307326,310373987
15,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,HR",7208688,5425973,4172152,3157672,3611678,3724563,5366953,5543310,6003760
16,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,HU",24660920 e,22287476 e,16949197 e,16735423,16310151,16650639,15938077,18369585,17150400
17,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,IE",24499142,29599175 e,22502816,19807586,12713021,15166830,15251689,13986757,16192033
18,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,IS",501426,:,772584,510941,529351,815148,1067319,1293511,1060903
19,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,IT",139806106,155025054,179257461,158627618,154427046,157870348,163827838,172502773,174887620
20,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,LI",:,:,383337,312180,466547,569067,502581,437823,542691
21,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,LT",7010178,6361109,6333352,5578134,5678751,6200450,6674238,7080538,6695731
22,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,LU",8315766,8378911,9592144,10441469,8397228,7072758,10020519,9014397,9215222
23,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,LV",1257225,1858551,1495084,1498200,2309581,2621495,1909631,1773726,2852792
24,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,ME",:,:,:,:,1014139,1092741,1132587,1222758,1246833
25,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,MK",:,:,1362466,2327590,8472343,2186612,1424859,1140253,1484596
26,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,MT",3146062 e,2861489 e,2070391 e,1352994,1456213,1672810,1951928,2507070,3528663
27,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,NL",92448121,99166563,102648605,121145468,121194466,132362297,141024020,145245469,125138771
28,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,NO",7453565,9913286,10286643,9432997,10721599,10614914,11131594,14137718,14040663
29,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,PL",137478449,153628937,138984638,158661957,162382959,179179899,182005677,175473691,170233670
30,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,PT",29317295 e,34952771 e,16882923,13640079,13359517,14368003,14739135,15894873 b,16601514
31,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,RO",369300408 s,344356921,189138507,201432951,249354926,176607415,177562905,203017193,141364457
32,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,RS",:,:,:,33615918,55002570,49128311 b,48965314,51102914,58637622
33,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SE",91759469,94971307,86168590,117645185,156306504,167026886,141625718,138667585,151823910
34,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SI",5770505,6035829,5038401,5986106,4546506,4686417,5494362,8220679,7518375
35,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SK",10668411,14501495,11472008,9384112,8425384,8862778,10606966,12401870,12775926
36,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,TR",58820312,46091628,64764502,63540624,67383777,73075119,75534641,97294071,107608312
37,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,UK",298798846,291147402,282222127,241808706,241506743,262992726,272064636,282393639,:
38,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,XK",:,:,:,:,1166619,1039803,2855990,2961225,2592828

In [5]:
europa.loc[:,"Prefix"] =europa.loc[:,"Prefix"].str[-2:]

In [6]:
# El DATASET vino sin el nombre de los paises, solo con prefijos. Creo una lista y creo una columna nueva estableciendo como index

nombres_pais = ["Austria", "Bosnia and Herzegovina","Belgium","Bulgaria","Cyprus","Czechia","Germany","Denmark","Estonia","Greece","Spain","Eur_27","Eu_28","Finland","France","Croatia","Hungry","Ireland","Iceland","Italy","Liechtenstein","Lithuania","Luxemburg","Latvia","Montenegro","North Macedonia","Malta","Netherlands","Norway","Poland","Portugal","Romania","Serbia","Sweden","Slovenia","Slovakia","Turkey","United Kingdom","Kosovo"]

In [7]:
europa["Country"] = nombres_pais
europa.set_index("Country",inplace=True)

In [8]:
# Quito el multiindex y actualizo el dataframe

europa = europa.reset_index()

In [9]:
europa.head(3)

,Country,Prefix,2004,2006,2008,2010,2012,2014,2016,2018,2020
0,Austria,AT,53020950,54286603,56308766,46799579,48045089,55868298,61225037,65666128,68906034
1,Bosnia and Herzegovina,BA,:,:,:,:,4456556,5540772,6127022,6747605,6753458
2,Belgium,BE,52809345,59351721 e,48621916,61345803,53839470,57965392,63152384,68187479,68061590

In [10]:
# Antes de avanzar necesito quitar un espacio en blanco que tienen las columnas de los años

europa.columns = europa.columns.str.strip()

In [11]:
# Creo una lista donde voy a iterar, no pude seleccionar las columnas con un rango.

columnas_limpiar = ["2004","2006","2008","2010","2012","2014","2016","2018","2020"]

In [12]:
# convierto todos las observaciones en valores numéricos. Ojo me quedan en formato de Notación Científica, en los próximos pasos lo modifico

for columna in columnas_limpiar:
    europa[columna] =pd.to_numeric(europa[columna],errors='coerce')

In [13]:
# Los NAN los convierto en cero

europa[columnas_limpiar]=europa[columnas_limpiar].fillna(0)

In [14]:
# Los transformo de FLOAT (N. cientifica) a Int

for columna in columnas_limpiar:
    europa[columna] = europa[columna].astype("int")

In [15]:
# Elimino la columna de los Prefijos que no me aporta nada

europa= europa.drop("Prefix",axis="columns")

In [16]:
# Reviso cómo me quedaron los datos, si pasaron de Object a Int

europa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  39 non-null     object
 1   2004     39 non-null     int32
 2   2006     39 non-null     int32
 3   2008     39 non-null     int32
 4   2010     39 non-null     int32
 5   2012     39 non-null     int32
 6   2014     39 non-null     int32
 7   2016     39 non-null     int32
 8   2018     39 non-null     int32
 9   2020     39 non-null     int32
dtypes: int32(9), object(1)
memory usage: 1.8+ KB

In [17]:
# Elimino la sumatoria de Europa y UK

filas_eliminar = europa.loc[:,"Country"].isin(["Eur_27","Eu_28","United Kingdom"])
europa =europa[-filas_eliminar]

In [18]:
europa

,Country,2004,2006,2008,2010,2012,2014,2016,2018,2020
0,Austria,53020950,54286603,56308766,46799579,48045089,55868298,61225037,65666128,68906034
1,Bosnia and Herzegovina,0,0,0,0,4456556,5540772,6127022,6747605,6753458
2,Belgium,52809345,0,48621916,61345803,53839470,57965392,63152384,68187479,68061590
3,Bulgaria,201020467,162881368,167646316,167396268,161252166,179677011,120508475,129751823,116387350
4,Cyprus,2241520,1248723,1842781,2372750,1875308,1978699,2467042,2302144,2221809
5,Czechia,29275743,24745752,25419695,23757566,23171358,23394956,25381426,0,38486186
6,Germany,364021937,363786069,372796355,363544995,368022172,387504241,400071672,405523624,401156266
7,Denmark,12588952,14703138,15155208,16217736,16713822,20808843,20981931,21445206,20135564
8,Estonia,20860680,18932903,19583855,19000195,21992343,21804040,24277879,23185581,16170358
9,Greece,33346962,51324662,68643963,70432705,72328280,69758868,72332353,45240333,0
10,Spain,160668134,160946629,149254157,137518902,118561669,110518494,128958523,137822935,105624359
13,Finland,69708476,72205476,81792854,104336944,91824193,95969888,122869183,128251735,116082531
14,France,0,0,345002210,355081245,344440922,324462969,322685297,343307326,310373987
15,Croatia,7208688,5425973,4172152,3157672,3611678,3724563,5366953,5543310,6003760
16,Hungry,0,0,0,16735423,16310151,16650639,15938077,18369585,17150400
17,Ireland,24499142,0,22502816,19807586,12713021,15166830,15251689,13986757,16192033
18,Iceland,501426,0,772584,510941,529351,815148,1067319,1293511,1060903
19,Italy,139806106,155025054,179257461,158627618,154427046,157870348,163827838,172502773,174887620
20,Liechtenstein,0,0,383337,312180,466547,569067,502581,437823,542691
21,Lithuania,7010178,6361109,6333352,5578134,5678751,6200450,6674238,7080538,6695731
22,Luxemburg,8315766,8378911,9592144,10441469,8397228,7072758,10020519,9014397,9215222
23,Latvia,1257225,1858551,1495084,1498200,2309581,2621495,1909631,1773726,2852792
24,Montenegro,0,0,0,0,1014139,1092741,1132587,1222758,1246833
25,North Macedonia,0,0,1362466,2327590,8472343,2186612,1424859,1140253,1484596
26,Malta,0,0,0,1352994,1456213,1672810,1951928,2507070,3528663
27,Netherlands,92448121,99166563,102648605,121145468,121194466,132362297,141024020,145245469,125138771
28,Norway,7453565,9913286,10286643,9432997,10721599,10614914,11131594,14137718,14040663
29,Poland,137478449,153628937,138984638,158661957,162382959,179179899,182005677,175473691,170233670
30,Portugal,0,0,16882923,13640079,13359517,14368003,14739135,0,16601514
31,Romania,0,344356921,189138507,201432951,249354926,176607415,177562905,203017193,141364457
32,Serbia,0,0,0,33615918,55002570,0,48965314,51102914,58637622
33,Sweden,91759469,94971307,86168590,117645185,156306504,167026886,141625718,138667585,151823910
34,Slovenia,5770505,6035829,5038401,5986106,4546506,4686417,5494362,8220679,7518375
35,Slovakia,10668411,14501495,11472008,9384112,8425384,8862778,10606966,12401870,12775926
36,Turkey,58820312,46091628,64764502,63540624,67383777,73075119,75534641,97294071,107608312
38,Kosovo,0,0,0,0,1166619,1039803,2855990,2961225,2592828

In [19]:
europa = europa.replace(0, np.nan)

In [20]:
europa.head(5)

,Country,2004,2006,2008,2010,2012,2014,2016,2018,2020
0,Austria,53020950.0,54286603.0,56308766.0,46799579.0,48045089,55868298.0,61225037,65666128.0,68906034.0
1,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,4456556,5540772.0,6127022,6747605.0,6753458.0
2,Belgium,52809345.0,NaN,48621916.0,61345803.0,53839470,57965392.0,63152384,68187479.0,68061590.0
3,Bulgaria,201020467.0,162881368.0,167646316.0,167396268.0,161252166,179677011.0,120508475,129751823.0,116387350.0
4,Cyprus,2241520.0,1248723.0,1842781.0,2372750.0,1875308,1978699.0,2467042,2302144.0,2221809.0

In [59]:
# europa_years = europa.select_dtypes(include=[np.number])

In [60]:
# No funciona 
# europa.interpolate(method="linear",inplace=True)

In [22]:
# Elimino años

europa.drop(columns=["2004","2006","2008"],inplace=True)

In [34]:
# Rellenamos en los países que tenían valores NaN.

europa.fillna(method="ffill",inplace=True)
europa

C:\Users\vipre\AppData\Local\Temp\ipykernel_24092\832611003.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  europa.fillna(method="ffill",inplace=True)

In [36]:
europa

,Country,2010,2012,2014,2016,2018,2020,Media
0,Austria,46799579.0,48045089,55868298.0,61225037,65666128.0,68906034.0,5.775169e+07
1,Bosnia and Herzegovina,46799579.0,4456556,5540772.0,6127022,6747605.0,6753458.0,5.925083e+06
2,Belgium,61345803.0,53839470,57965392.0,63152384,68187479.0,68061590.0,6.209202e+07
3,Bulgaria,167396268.0,161252166,179677011.0,120508475,129751823.0,116387350.0,1.458288e+08
4,Cyprus,2372750.0,1875308,1978699.0,2467042,2302144.0,2221809.0,2.202959e+06
5,Czechia,23757566.0,23171358,23394956.0,25381426,2302144.0,38486186.0,2.683830e+07
6,Germany,363544995.0,368022172,387504241.0,400071672,405523624.0,401156266.0,3.876372e+08
7,Denmark,16217736.0,16713822,20808843.0,20981931,21445206.0,20135564.0,1.938385e+07
8,Estonia,19000195.0,21992343,21804040.0,24277879,23185581.0,16170358.0,2.107173e+07
9,Greece,70432705.0,72328280,69758868.0,72332353,45240333.0,16170358.0,6.601851e+07
10,Spain,137518902.0,118561669,110518494.0,128958523,137822935.0,105624359.0,1.231675e+08
11,Finland,104336944.0,91824193,95969888.0,122869183,128251735.0,116082531.0,1.098891e+08
12,France,355081245.0,344440922,324462969.0,322685297,343307326.0,310373987.0,3.333920e+08
13,Croatia,3157672.0,3611678,3724563.0,5366953,5543310.0,6003760.0,4.567989e+06
14,Hungry,16735423.0,16310151,16650639.0,15938077,18369585.0,17150400.0,1.685905e+07
15,Ireland,19807586.0,12713021,15166830.0,15251689,13986757.0,16192033.0,1.551965e+07
16,Iceland,510941.0,529351,815148.0,1067319,1293511.0,1060903.0,8.795288e+05
17,Italy,158627618.0,154427046,157870348.0,163827838,172502773.0,174887620.0,1.636905e+08
18,Liechtenstein,312180.0,466547,569067.0,502581,437823.0,542691.0,4.718148e+05
19,Lithuania,5578134.0,5678751,6200450.0,6674238,7080538.0,6695731.0,6.317974e+06
20,Luxemburg,10441469.0,8397228,7072758.0,10020519,9014397.0,9215222.0,9.026932e+06
21,Latvia,1498200.0,2309581,2621495.0,1909631,1773726.0,2852792.0,2.160904e+06
22,Montenegro,1498200.0,1014139,1092741.0,1132587,1222758.0,1246833.0,1.141812e+06
23,North Macedonia,2327590.0,8472343,2186612.0,1424859,1140253.0,1484596.0,2.839376e+06
24,Malta,1352994.0,1456213,1672810.0,1951928,2507070.0,3528663.0,2.078280e+06
25,Netherlands,121145468.0,121194466,132362297.0,141024020,145245469.0,125138771.0,1.310184e+08
26,Norway,9432997.0,10721599,10614914.0,11131594,14137718.0,14040663.0,1.167991e+07
27,Poland,158661957.0,162382959,179179899.0,182005677,175473691.0,170233670.0,1.713230e+08
28,Portugal,13640079.0,13359517,14368003.0,14739135,175473691.0,16601514.0,1.454165e+07
29,Romania,201432951.0,249354926,176607415.0,177562905,203017193.0,141364457.0,1.915566e+08
30,Serbia,33615918.0,55002570,176607415.0,48965314,51102914.0,58637622.0,4.946487e+07
31,Sweden,117645185.0,156306504,167026886.0,141625718,138667585.0,151823910.0,1.455160e+08
32,Slovenia,5986106.0,4546506,4686417.0,5494362,8220679.0,7518375.0,6.075408e+06
33,Slovakia,9384112.0,8425384,8862778.0,10606966,12401870.0,12775926.0,1.040951e+07
34,Turkey,63540624.0,67383777,73075119.0,75534641,97294071.0,107608312.0,8.073942e+07
35,Kosovo,63540624.0,1166619,1039803.0,2855990,2961225.0,2592828.0,2.123293e+06

In [37]:
# Reseteamos index pero sin crear columna nueva

europa.reset_index(drop=True, inplace=True)

In [38]:
europa.head(5)

,Country,2010,2012,2014,2016,2018,2020,Media
0,Austria,46799579.0,48045089,55868298.0,61225037,65666128.0,68906034.0,5.775169e+07
1,Bosnia and Herzegovina,46799579.0,4456556,5540772.0,6127022,6747605.0,6753458.0,5.925083e+06
2,Belgium,61345803.0,53839470,57965392.0,63152384,68187479.0,68061590.0,6.209202e+07
3,Bulgaria,167396268.0,161252166,179677011.0,120508475,129751823.0,116387350.0,1.458288e+08
4,Cyprus,2372750.0,1875308,1978699.0,2467042,2302144.0,2221809.0,2.202959e+06

In [39]:
europa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  36 non-null     object
 1   2010     36 non-null     float64
 2   2012     36 non-null     int32
 3   2014     36 non-null     float64
 4   2016     36 non-null     int32
 5   2018     36 non-null     float64
 6   2020     36 non-null     float64
 7   Media    36 non-null     float64
dtypes: float64(5), int32(2), object(1)
memory usage: 2.1+ KB

In [40]:
europa["Media"]= europa.iloc[:,1:].mean(axis=1)
europa.loc[:, europa.columns[1:]] = europa.loc[:, europa.columns[1:]].astype(int)

In [41]:
europa

,Country,2010,2012,2014,2016,2018,2020,Media
0,Austria,46799579.0,48045089,55868298.0,61225037,65666128.0,68906034.0,57751694.0
1,Bosnia and Herzegovina,46799579.0,4456556,5540772.0,6127022,6747605.0,6753458.0,11764296.0
2,Belgium,61345803.0,53839470,57965392.0,63152384,68187479.0,68061590.0,62092019.0
3,Bulgaria,167396268.0,161252166,179677011.0,120508475,129751823.0,116387350.0,145828848.0
4,Cyprus,2372750.0,1875308,1978699.0,2467042,2302144.0,2221809.0,2202958.0
5,Czechia,23757566.0,23171358,23394956.0,25381426,2302144.0,38486186.0,23333133.0
6,Germany,363544995.0,368022172,387504241.0,400071672,405523624.0,401156266.0,387637161.0
7,Denmark,16217736.0,16713822,20808843.0,20981931,21445206.0,20135564.0,19383850.0
8,Estonia,19000195.0,21992343,21804040.0,24277879,23185581.0,16170358.0,21071732.0
9,Greece,70432705.0,72328280,69758868.0,72332353,45240333.0,16170358.0,58897343.0
10,Spain,137518902.0,118561669,110518494.0,128958523,137822935.0,105624359.0,123167480.0
11,Finland,104336944.0,91824193,95969888.0,122869183,128251735.0,116082531.0,109889079.0
12,France,355081245.0,344440922,324462969.0,322685297,343307326.0,310373987.0,333391957.0
13,Croatia,3157672.0,3611678,3724563.0,5366953,5543310.0,6003760.0,4567989.0
14,Hungry,16735423.0,16310151,16650639.0,15938077,18369585.0,17150400.0,16859045.0
15,Ireland,19807586.0,12713021,15166830.0,15251689,13986757.0,16192033.0,15519652.0
16,Iceland,510941.0,529351,815148.0,1067319,1293511.0,1060903.0,879528.0
17,Italy,158627618.0,154427046,157870348.0,163827838,172502773.0,174887620.0,163690540.0
18,Liechtenstein,312180.0,466547,569067.0,502581,437823.0,542691.0,471814.0
19,Lithuania,5578134.0,5678751,6200450.0,6674238,7080538.0,6695731.0,6317973.0
20,Luxemburg,10441469.0,8397228,7072758.0,10020519,9014397.0,9215222.0,9026932.0
21,Latvia,1498200.0,2309581,2621495.0,1909631,1773726.0,2852792.0,2160904.0
22,Montenegro,1498200.0,1014139,1092741.0,1132587,1222758.0,1246833.0,1192724.0
23,North Macedonia,2327590.0,8472343,2186612.0,1424859,1140253.0,1484596.0,2839375.0
24,Malta,1352994.0,1456213,1672810.0,1951928,2507070.0,3528663.0,2078279.0
25,Netherlands,121145468.0,121194466,132362297.0,141024020,145245469.0,125138771.0,131018415.0
26,Norway,9432997.0,10721599,10614914.0,11131594,14137718.0,14040663.0,11679914.0
27,Poland,158661957.0,162382959,179179899.0,182005677,175473691.0,170233670.0,171322975.0
28,Portugal,13640079.0,13359517,14368003.0,14739135,175473691.0,16601514.0,37531941.0
29,Romania,201432951.0,249354926,176607415.0,177562905,203017193.0,141364457.0,191556641.0
30,Serbia,33615918.0,55002570,176607415.0,48965314,51102914.0,58637622.0,67628088.0
31,Sweden,117645185.0,156306504,167026886.0,141625718,138667585.0,151823910.0,145515964.0
32,Slovenia,5986106.0,4546506,4686417.0,5494362,8220679.0,7518375.0,6075407.0
33,Slovakia,9384112.0,8425384,8862778.0,10606966,12401870.0,12775926.0,10409506.0
34,Turkey,63540624.0,67383777,73075119.0,75534641,97294071.0,107608312.0,80739424.0
35,Kosovo,63540624.0,1166619,1039803.0,2855990,2961225.0,2592828.0,10897197.0

In [42]:
# europa.to_csv("Tabla_limpia_Residuos_Europa2")